
.icon_yusan {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660668580.png)
}

.icon_chuanyi {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660665908.png)
}

.icon_chuanyi_hot {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660666213.png)
}

.icon_chuanyi_shushi {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660666463.png)
}

.icon_chuanyi_jiaoleng {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660666477.png)
}

.icon_chuanyi_cool {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660666187.png)
}

.icon_fangsai {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660666730.png)
}

.icon_ganmao {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660666965.png)
}

.icon_yundong {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660668568.png)
}

.icon_xiche {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660668362.png)
}

.icon_diaoyu {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660666695.png)
}

.icon_jiaotong {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660667497.png)
}

.icon_wurankuosan {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660668064.png)
}

.icon_huazhuang {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660667292.png)
}

.icon_zhongshu {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660668776.png)
}

.icon_shushidu {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660667831.png)
}

.icon_xinqing {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660668371.png)
}

.icon_lvyou {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660667732.png)
}

.icon_ziwaixian {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660668795.png)
}

.icon_guomin {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660666965.png)
}

.icon_liangshai {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660667594.png)
}

.icon_huangli {
    background-image: url(https://mat1.gtimg.com/qqcdn/tupload/1630660667261.png)
}